<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:insert="includes/header::header">
    <title>Doctors</title>
</head>
<body>
<div class="container-fluid">
    <div th:insert="includes/navBar::nav_bar"></div>
    <div class="row">
        <div class="col-md-2 col-md-offset-2">
            <form>
                <h3>Browse by specialization</h3>
                <div class="form-group">
                    <label class="sr-only" for="specialization">Specialization</label>
                    <select class="form-control" placeholder="Select specialization" type="text" id="specialization">
                        <th:block th:each="specialization:${specializations}">
                            <option th:value="${specialization.id}" th:text="${specialization.name}"></option>
                        </th:block>
                    </select>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" class="col-md-1">First name</th>
                    <th scope="col" class="col-md-1">Last name</th>
                    <th scope="col" class="col-md-2">Phone</th>
                    <th scope="col" class="col-md-2">Mail</th>
                    <th scope="col" class="col-md-1"></th>
                </tr>
                </thead>
                <tbody id="doctorTableBody">
                    <th:block th:each="internist:${internists}">
                        <tr>
                            <td th:text="${internist.firstName}"></td>
                            <td th:text="${internist.lastName}"></td>
                            <td th:text="${internist.phoneNumber}"></td>
                            <td th:text="${internist.email}"></td>
                            <td>
                                <a href="">Schedule</a>
                            </td>
                        </tr>
                    </th:block>
                </tbody>
            </table>

        <!--TODO ensure that internist is always first here-->
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/patient/doctors.js}"></script>
</body>
</html>