<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Doctor schedule</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css">
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div th:insert="includes/navBar::nav_bar"></div>
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <p th:text="${'This particular view is dedicated to - ' + doctor.firstName}"></p>
        </div>
        <div class="datetimepicker"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class='col-md-6'>
            <div id="date_picker"></div>
        </div>
        <div class='col-md-6'>
            <div class='col-md-2'>
                <th:block th:each="key:${availableHours.get('hours').keys()}">
                    <button type="button" class="btn btn-primary btn-md btn-block"
                            th:text="${availableHours.get('hours').get(key).get('hour')}"></button>
                </th:block>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/patient/doctorSchedule.js}"></script>
</body>
</html>