<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:insert="includes/header::header">
    <title>Visits</title>
</head>
<body>
<div class="container-fluid">
    <div th:insert="includes/navBar::nav_bar"></div>
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <p>Upcoming visits</p>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Doctor</th>
                    <th>Date</th>
                    <th>Hour</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="workHour:${workHours}">
                    <tr>
                        <td th:text="${workHour.doctor.lastName}"></td>
                        <td th:text="${workHour.workDay.date}"></td>
                        <td th:text="${workHour.hour}"></td>
                        <td>
                            <a href="#modal_delete" data-toggle="modal" th:data-hour-id="${workHour.id}">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <table class="table table-striped">
                <thead>
                    <th>Doctor</th>
                    <th>Specialization</th>
                    <th>Time</th>
                    <th>Doctor's phone number</th>
                    <th>Recomendations</th>
                    <th>Description</th>
                    <th></th>
                </thead>
                <tbody>
                <th:block th:each="visit:${visits}">
                    <tr>
                        <td th:text="${visit.Doctor.firstName} + ' ' + ${visit.Doctor.lastName}"></td>
                        <td>
                            <div th:each="spec:${visit.Doctor.doctorSpecializationList}">
                                <div th:text="${spec.name}"></div>
                            </div>
                        </td>
                        <td th:text="${#temporals.format(visit.localDateTime,'dd-MM-yyyy HH:mm')}"></td>
                        <td th:text="${visit.Doctor.phoneNumber}"></td>
                        <td th:text="${visit.recomendations}"></td>
                        <td th:text="${visit.visitDescription}"></td>
                        <td></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <p>Completed visits</p>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Doctor</th>
                    <th>Specialization</th>
                    <th>Time</th>
                    <th>Doctor's phone number</th>
                    <th>Recomendations</th>
                    <th>Description</th>
                    <th>Rate doctor</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="visit:${pastVisits}">
                    <tr>
                        <td th:text="${visit.Doctor.firstName} + ' ' + ${visit.Doctor.lastName}"></td>
                        <td>
                            <div th:each="spec:${visit.Doctor.doctorSpecializationList}">
                                <div th:text="${spec.name}"></div>
                            </div>
                        </td>
                        <td th:text="${#temporals.format(visit.localDateTime,'dd-MM-yyyy HH:mm')}"></td>
                        <td th:text="${visit.Doctor.phoneNumber}"></td>
                        <td th:text="${visit.recomendations}"></td>
                        <td th:text="${visit.visitDescription}"></td>
                        <td>
                            <a th:href="@{'/patient/rateDoctor/'+${visit.Doctor.email}+'/'+${visit.id}}">rate</a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal" id="modal_delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>Are you sure you want to cancel this visit?</p>
                <form action="/patient/cancelvisit" method="post">
                    <input type="hidden" name="id" id="id"/>
                    <button type="submit" class="btn btn-default" value="Yes">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/patient/visits.js}"></script>
</body>
</html>