<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:insert="includes/header::header">
    <title>Create prescription</title>
</head>
<body>
<div class="container-fluid">
    <div th:insert="includes/navBar::nav_bar"></div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <p>Add prescription</p>
            <form method="post" th:object="${prescription}" action="/doctor/addPrescription">
                <div class="form-group">
                    <label class="sr-only" for="prescribedItems">Medicines</label>
                    <input class="form-control" placeholder="Enter medicines" type="text" th:field="*{prescribedItems}"
                           id="prescribedItems"/>
                </div>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                    <p th:each="err : ${#lists.sort(#fields.errors('*'))}" th:text="${err}"></p>
                </div>
                <button class="btn btn-md btn-primary btn-block" type="submit">Add</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>