<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:insert="includes/header::header">
    <title>Doctor Home</title>
</head>
<body>
<div class="container-fluid">
    <div th:insert="includes/navBar::nav_bar"></div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <p>Today's visit</p>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Patient</th>
                    <th>Time</th>
                    <th>Gender</th>
                    <th>Pesel</th>
                    <th>Phone number</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="visit:${visits}">
                    <tr>
                        <td th:text="${visit.Patient.firstName} + ' ' + ${visit.Patient.lastName}"></td>
                        <td th:text="${visit.localDateTime}"></td>
                        <td th:text="${visit.Patient.gender}"></td>
                        <td th:text="${visit.Patient.pesel}"></td>
                        <td th:text="${visit.Patient.phoneNumber}"></td>
                        <td>
                            <a th:href="@{'/doctor/fillVisitFields/'+${visit.id}}">
                                Edit <span class="glyphicon glyphicon-edit"></span>
                            </a>
                        </td>
                        <td>
                            <a th:href="@{'/doctor/addPrescription/'+${visit.Patient.email}}">
                            Presc. <span class="glyphicon glyphicon-plus"></span></a>
                        </td>
                        <td>
                            <a th:href="@{'/doctor/addSickNote/'+${visit.Patient.email}+'/'+${visit.id}}">
                                sick note <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>